/********************/
/* standard classes */

/* pink: #ff5f87 */

body {
	background-image:
		linear-gradient(to right, rgba(22, 32, 32, 0.67) 0%, #162020 25%, #162020 75%, rgba(22, 32, 32, 0.67) 100%),
		url("../img/whiskey.jpg");
	background-position: repeat;
	background-size: initial;
    background-attachment: fixed;
}
@media (max-width: 800px) {
	body {
		background-image:
			linear-gradient(to right, rgba(255,255,255,0.1) 0%, #162020 10%, #162020 90%, rgba(255,255,255,0.1) 100%),
			url("../img/whiskey.jpg");
		background-position: repeat;
		background-size: initial;
        background-attachment: fixed;
	}
}

.sponsorship {
	margin-top: 20px;
	display: flex;
	flex-direction: row;

}
.sponsorship a {
	margin-right: 10px;
}

.pink {
	color: #ff5f87;
}

body::before {
	background: 0;
}

body {
	font-size: 15px;
	background-color: #162020;
	color: #aaa;
}

p img.logo {
	background: transparent;
	width: 180px;
}
@media (max-width: 700px) {
	p.logo {
		display: none;
	}
	.navbar-default .navbar-brand {
		margin-left: 25px;
	}
}

h1 {
	font-size: 22px;
	border-bottom: solid 1px;
	padding-bottom: 8px;
	margin: 30px 0 20px 0;
	border-image-source: linear-gradient(to right, #fc0, #162020);
	border-image-slice: 1;
	color: #fc0;
}
h2 {
	font-size: 19px;
	color: #fc0;
}
h3 {
	font-size: 16px;
	color: #fc0;
}
h4 {
	color: #fc0;
}

.navbar {
	background-image: linear-gradient(#333,#111);
	border-bottom: 1px solid #fc0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus {
	background-image: linear-gradient(#111,#162020);
	color: #fc0
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-image: linear-gradient(#111,#fc0);
	color: white;
}

pre {
	padding: 0;
	border-radius: 0;
	color: #aaa;
	background: #222;
	border: solid 1px #333;
}

code {
	border-radius: 0;
	color: #aaa;
	border: solid 1px #444;
	background: #222;
}
.hljs {
	color: #aaa;
	background: #222;
}

a {
	color: #fc0;
}

a:hover {
	color: #ff5f87;
}

kbd {
	padding: 2px 4px;
	color: #ff5f87;
	background-color: #333;
	border-radius: 2px;
	box-shadow: none;
	margin: 1px;
}

kbd.b {
	font-size: 18px;
	padding: 0 5px;
}

.col-md-9 {
	max-width: 1000px;
}
.col-md-9 img {
	max-width: 100%;
	display: inline-block;
	padding: 0;
	line-height: 1.428571429;
	background-color: #fff;
	border: none;
	border-radius: 0;
	margin: 10px auto 20px auto;
}
.navbar-collapse {
	padding-left: 0;
}
.bs-sidenav.nav li {
	padding-left: 10px;
}
.bs-sidenav.nav li.main {
	padding-left: 0px;
}
.navbar-brand {
	background: url(../img/logo-rhit.svg) no-repeat;
	background-position: left center;
	background-size: 40px 40px;
	padding-left: 50px;
	font-size: 0;
}

.bs-sidebar .nav > li > a {
	border-right: 1px solid transparent;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
	font-weight: initial;
	background-color: #bed7e632;
	border-right: 1px solid;
}
.bs-sidebar .nav > .main.active > a,
.bs-sidebar .nav > .main.active:hover > a,
.bs-sidebar .nav > .main.active:focus > a {
	font-weight: bold;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
	background: transparent;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #ff5f87;
}
.table-hover > tbody > tr:hover {
	background: transparent;
}
table td a {
	color: #ff5f87;
}
.table > thead > tr > th {
    border-bottom: 2px solid #ff5f87;
}

body .dropdown-menu {
	background: #222;
}
body .dropdown-menu li a {
	color: #ddd;
}

body .dropdown-menu > .active > a,
body .dropdown-menu > .active > a:focus {
	color: #111;
	background: #fc0;
}
body ul.dropdown-menu li.active a:hover {
	color: #111;
	background: #fc0;
	/**color: #ff5f87;
	background: #fc0;**/
}
body ul.dropdown-menu li a:hover {
	color: #111;
	background: #fc0;
	/**background: #111;
	color: #ff5f87;**/
}
body .nav>li>a:hover, body .nav>li>a:focus {
	background: #222;
}
body .toc-header {
	font-weight: bold;
	font-size: 18px;
	margin-left: 20px;
	padding-bottom: 8px;
	/*border-bottom: thin solid #ff5f87;*/
}
.admonition.note {
    color: #c0d5df;
    background-color: #1c3935;
    border-color: #144633;
}

td code {
	white-space: nowrap;
}

.modal-content {
	background: #222;
}

code.no-wrap {
	white-space: normal;
}

/******************/
/* custom classes */

.install-link {
	font-size: 15px;
	margin: 10px 0 10px 0px;
	text-align:center;
	background: #133d55;
	border-radius: 5px;
	padding: 5px 8px;
}
.install-link:hover {
	background: #acf;
}
